# Project defaults for {{ display_name }}
app_name: {{ key }}
display_name: {{ display_name }}
classification: {{ classification }}
impact_level: {{ impact_level }}
url_prefix: {{ url_prefix }}
env_flag: {{ env_flag }}
